<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Portfolio of work from "The Complete Node.js Developer Course" (2nd Edition)</p>
    {{> footer}}
  </body>
</html>
